<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Again</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./style1.css" />
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="https://dynao-search-engine.herokuapp.com/" class="active">Home</a>
      <a href="https://dynao-search-engine.herokuapp.com/about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <h2>Please Input the problem you want to search</h2>
        <div class="footer">
      <a href="#top">Dynao: One stop place for Data Structures Problems</a>
    </div>
  </body>

  <script>
    const form = document.querySelector("form");
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }